#myg {
    border: 2px solid rgb(164, 133, 93);
    background: rgb(228, 200, 166);
    font-family: "Georgia";
    font-size: 20px;
    border-radius: 10px;
}

#navigacija {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 200, 166);
    height: 40px;
}

#pav1 {
    background-color: rgb(228, 200, 166);
    height: 20px;
    font-size: 30px;
    font-family:"Brush Script MT";
}

.spalva {
    color:rgb(164, 133, 93);
    font-family: "Georgia";
    font-size: 20px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin:0px;
    display: flex;
    flex-direction: column;
}

#zemiau {
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(248, 231, 210);
    height: 100px;
    flex: 1;
}

.spausk {
    background-color: rgb(248, 231, 210);
    border: none;
    color: rgb(155, 123, 81);
    padding: 10px;
    padding-bottom: 0;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    display: flex;
    font-family: auto;
}

#mygt {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}



.tekstas {
    color: rgb(164, 133, 93);
    height: 20px;
    font-size: 30px;
    font-family:"Brush Script MT";
}

.myg2 {
    display:flex;
}

.varn{
    transform: rotate(270deg);
    background-color: rgb(248, 231, 210);
    border: none;
    color: rgb(155, 123, 81);
    padding: 10px;
    padding-bottom: 0;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
}

#logo {
    height: 53px;
    width: 280px;
    margin-top: -8px;
}

#moto {
    height: 600px;
    margin-top: auto;
    margin-bottom: auto;
}