html {
    height: 100%;
}

body {
    height: 100%;
    margin:0px;
    display: flex;
    flex-direction: column;
}

.spalva {
    color:rgb(164, 133, 93);
    font-family: "Georgia";
    font-size: 20px;
}

#pav1 {
    background-color: rgb(228, 200, 166);
    height: 20px;
    font-size: 30px;
    font-family:"Brush Script MT";
}

#myg {
    border: 3px groove rgb(164, 133, 93);
    background: rgb(228, 200, 166);
    font-family: "Georgia";
    font-size: 20px;
}

#navigacija {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 200, 166);
    height: 40px;
}

#zemiau {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(248, 231, 210);
    height: 100px;
    flex: 1;
}

.deze {
    padding: 7px;
    margin-top: 20px;
    width: 170px;
    background-color: rgb(255, 249, 241);
    border-radius: 10px;
    border:1px solid rgb(155, 123, 81);
}

.eilute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pav2 {
    text-decoration: underline;
    text-align: center;
    color:rgb(155, 123, 81);
}

.ingrediantai {
    color:rgb(155, 123, 81);
}

.pasirinkimas {
    color:rgb(155, 123, 81);
}

.kaina {
    color:rgb(155, 123, 81);
}