.spalva {
    color:rgb(164, 133, 93);
    font-family: "Georgia";
    font-size: 20px;
    cursor: pointer;
}

#pav1 {
    background-color: rgb(228, 200, 166);
    height: 20px;
    font-size: 30px;
    font-family:"Brush Script MT";
}

#myg {
    border: 2px solid rgb(164, 133, 93);
    background: rgb(228, 200, 166);
    font-family: "Georgia";
    font-size: 20px;
    border-radius: 10px;
}

#myg:hover {
    transition: 0.2s;
    color: rgb(92, 70, 41);
    border: 2px solid rgb(92, 70, 41);
}

#myg:active {
    opacity: 0.1;
}

#navigacija {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 200, 166);
    height: 40px;
}



.deze {
    padding: 15px;
    margin-top: 20px;
    width: 20%;
    background-color: rgb(255, 249, 241);
    border-radius: 10px;
    border:1px solid rgb(155, 123, 81);
    height: 400px;
    display: flex;
    flex-direction: column;
}

.eilute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.pav2 {
    text-align: center;
    color:rgb(155, 123, 81);
    font-size: 25px;
}

.ingrediantai {
    color:rgb(155, 123, 81);
    font-size: 15px;
    margin-bottom: 10px;
}

.pasirinkimas {
    color:rgb(155, 123, 81);
    font-size: 20px;
}

.kaina {
    color:rgb(155, 123, 81);
    font-size: 20px;
}

html {
    height: 100%;
}

#zemiau {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(248, 231, 210);
    height: 100px;
    flex: 1;
}

body {
    height: 100%;
    margin:0px;
    display: flex;
    flex-direction: column;
}

.tarpas {
    height:17px;
}

.taskai {
    border-bottom: 2px dotted rgb(155, 123, 81);
    flex:1;
  }

  #logo {
    height: 53px;
    margin-top: -8px;
}

.ikona {
    height: 53px;
    margin-top: auto;
}

#katukas {
    display: flex;
    align-items: center;
    font-family: Pacifico;
    font-size: 30px;
    color: rgb(132 107 74);
}